# chess opening analys

## get data from exel file

In [62]:
import pandas as pd

df = pd.read_excel('chess_dataset.xlsx')
df.head(1)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1500000000000,1500000000000,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5

## select the importent columns in df

In [63]:
idf = df[['rated', 'turns', 'victory_status', 'winner', 'increment_code', 'white_rating', 'black_rating', 'opening_name']]
idf.head(1)

,rated,turns,victory_status,winner,increment_code,white_rating,black_rating,opening_name
0,False,13,outoftime,white,15+2,1500,1191,Slav Defense: Exchange Variation

## clean idf dataframe

### split opening and wariant

In [64]:
idf['variant'] = idf['opening_name'].str.split(':', expand=True)[1]
idf['opening_name'] = idf['opening_name'].str.split(':', expand=True)[0]
idf.head(1)

C:\Users\Mr_shotgun\AppData\Local\Temp\ipykernel_7632\612733503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf['variant'] = idf['opening_name'].str.split(':', expand=True)[1]
C:\Users\Mr_shotgun\AppData\Local\Temp\ipykernel_7632\612733503.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  idf['opening_name'] = idf['opening_name'].str.split(':', expand=True)[0]

,rated,turns,victory_status,winner,increment_code,white_rating,black_rating,opening_name,variant
0,False,13,outoftime,white,15+2,1500,1191,Slav Defense,Exchange Variation

### drop null row

In [65]:
idf.isnull().sum()

rated                0
turns                0
victory_status       0
winner               0
increment_code       0
white_rating         0
black_rating         0
opening_name         0
variant           6928
dtype: int64

> tip: I have no problem with the variant column having a null value.

### drop rows where the victoryÙ€status is in an unacceptable state.

In [66]:
unacceptable_in_victory_status = len(idf[idf['victory_status'].isin(['outoftime', 'draw'])])
print("Number of rows that do not have acceptable victory_status data: ", unacceptable_in_victory_status)
idf = idf[~idf['victory_status'].isin(['outoftime', 'draw'])]
print("idf shape after removing unacceptables: ", idf.shape)
idf = idf.reset_index(drop=True)
idf.head()

Number of rows that do not have acceptable victory_status data:  2586
idf shape after removing unacceptables:  (17472, 9)

,rated,turns,victory_status,winner,increment_code,white_rating,black_rating,opening_name,variant
0,True,16,resign,black,5+10,1322,1261,Nimzowitsch Defense,Kennedy Variation
1,True,61,mate,white,5+10,1496,1500,King's Pawn Game,Leonardis Variation
2,True,61,mate,white,20+0,1439,1454,Queen's Pawn Game,Zukertort Variation
3,True,95,mate,white,30+3,1523,1469,Philidor Defense,None
4,True,33,resign,white,10+0,1520,1423,Blackmar-Diemer Gambit,Pietrowsky Defense